body {
    color: rgba(19, 18, 18, 0.5);
    background: linear-gradient(to right, #9fb1e6, #fea8a8);
    font-family: 'Amatic SC', cursive;
    letter-spacing: .5em;
    text-align: center;
}

h1 {
   font-size: 5rem;
   margin-top: 5%;
}

h2 {
    font-size: 2rem;
}


