body {
    color: rgba(14, 13, 13, 0.5);
    background: linear-gradient(to right, #ca10d1, #ffb01e); 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5em;
    text-align: center;
}
p {
    font-size: 23px;
}

h1 {
   font-family: 'Amatic SC', cursive;  
   font-size: 5.5rem;
   margin-top: 5%;
}

h2 {
    font-size: 1.5rem;
    margin-top: 4%;
}

h3 {
    color: #3d3838;
    font-size: 1rem;
    border: 1px solid #3d3b3b;
    padding: 20px;
    margin: auto 10rem;
}

